---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Companies from "../components/Companies.astro";
---

<Layout title="FadliGr - Web Developer">
  <section class="hero-section d-flex align-items-center">
    <div class="container">
      <div class="row d-flex align-items-center mt-lg-0 mt-5">
        <div class="col-lg-8 col-12">
          <h1 class="hero-title">Aaron Marshall,</h1>
          <h1 class="hero-title">Elementor Expert</h1>
          <p class="hero-desc mt-3">Contact me for more</p>
          <a href="mailto:fadligrr@gmail.com" class="hero-email">sayhai@aaroon.com</a>
          <div class="row mt-5">
            <div class="col">
              <Button text="Download CV" link="/assets/cv.pdf" bg="btn btn-brand-md d-flex align-items-center" download="download" icon="/file-download.svg" />
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 d-flex justify-content-center">
          <img src="/Heroimage.png" alt="" class="img-fluid hero-img" />
        </div>
      </div>
    </div>
  </section>
  <section class="portfolio py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="text-center portfolio-text">My Masterpiece</p>
          <h2 class="text-center portfolio-title">I love to show you my work</h2>
        </div>
      </div>
      <div class="row mt-3">
        <Companies
          title={[
            {text: "SoulMe", description: "Yoga Meditation Elementor Template Kit", license: "Commercial License", image: "/portfolio/soulme.png", link: "/"},
            {text: "Beu", description: "Music library streaming UI Kit", license: "Personal License", image: "/portfolio/beu.png", link: "/"},
            {text: "LearnIt", description: "Online Course UI Kit", license: "Commercial License", image: "/portfolio/learnit.png", link: "/"},
            {text: "Blaze", description: "Business Analytics UI Kit", license: "Commercial License", image: "/portfolio/blaze.png", link: "/"},
            {text: "Vangia", description: "Skin Beuty Store UI Kit", license: "Commercial License", image: "/portfolio/vangia.png", link: "/"},
            {text: "Jobsense", description: "Job Finding Service Elementor Template Kit", license: "Personal License", image: "/portfolio/jobsense.png", link: "/"},
          ]}
        />
      </div>
    </div>
  </section>
</Layout>

<style>
  .hero-title {
    color: var(--gray-900);
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 98px;
    text-transform: capitalize;
  }

  .hero-desc {
    color: var(--gray-500);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .hero-email {
    color: var(--gray-700);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
  }
  .portfolio-text {
    color: var(--brand);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
    text-transform: capitalize;
  }
  .portfolio-title {
    color: var(--gray-900);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 116.667% */
  }

  /* mobile */
  @media only screen and (max-width: 700px) {
    .hero-img {
      width: 75%;
    }
    .hero-title {
      font-size: 38px;
      line-height: 58px;
    }

    .hero-desc {
      font-size: 12px;
      line-height: 22px;
    }

    .hero-email {
      font-size: 18px;
      line-height: 28px;
    }

    .portfolio-title {
      font-size: 28px;
    }
  }
</style>
