---
interface Props {
  title: {title: string; link: string};
}

const {title} = Astro.props;
---

<nav class="navbar navbar-expand-lg">
  <div class="container py-3">
    <a class="navbar-brand fw-bold" href="/">
      <img src="./logo-dark.png" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {
          title.map((item) => (
            <li class="nav-item">
              <a class="nav-link mx-3 d-flex align-items-center" aria-current="page" href={item.link}>
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="social-media d-flex justify-content-center">
        <a href="">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</nav>

<style>
  .nav-link {
    color: #807d8a;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }

  .nav-link:hover {
    color: var(--brand) !important;
  }

  .active {
    color: var(--brand) !important;
    font-weight: 500 !important;
    position: relative;
  }

  .active::before {
    content: "";
    width: 20px;
    height: 20px;
    align-content: center !important;
    display: inline-block;
    background-image: url("./nav-active.svg") !important;
    background-size: cover;
    margin-right: 5px;
  }

  ion-icon {
    color: #807d8a;
    background-color: var(--gray-100);
    border-radius: 50%;
    border: 1px solid #807d8a !important;
    padding: 5px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  ion-icon:hover {
    color: #fff !important;
    border: none !important;
    border: 1px solid !important;
    border-color: var(--brand) !important;
    background-color: var(--brand);
    scale: 1.2 !important;
  }
</style>
